POSTGRES_USER=postgresusername
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=database
HASURA_GRAPHQL_DATABASE_URL=postgres://postgresusername:postgrespassword@postgres:5432/database
HASURA_GRAPHQL_ADMIN_SECRET=myadminsecretkey
