HASURA_GRAPHQL_ENABLE_CONSOLE="true"
HASURA_GRAPHQL_DEV_MODE="false"
HASURA_GRAPHQL_ENABLED_LOG_TYPES="startup, http-log, webhook-log, websocket-log, query-log"
HASURA_GRAPHQL_JWT_SECRET={ "type":"RS256", "jwk_url": "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com", "audience": "pattr-d50ff","issuer": "https://securetoken.google.com/pattr-d50ff"}
HASURA_GRAPHQL_UNAUTHORIZED_ROLE="anonymous"