apiVersion: v1
data:
  POSTGRES_DB: database
  POSTGRES_PASSWORD: password
  POSTGRES_USER: username
kind: ConfigMap
metadata:
  creationTimestamp: null
  labels:
    service: postgres-secret-env
  name: secret-env
