/* Application  */
.grid-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'header header'
    'sidebar chatroom';
}
