apiVersion: v1
data:
  HASURA_GRAPHQL_ADMIN_SECRET: myadminsecretkey
  HASURA_GRAPHQL_DATABASE_URL: postgres://postgresusername:postgrespassword@postgres:5432/database
  POSTGRES_DB: database
  POSTGRES_PASSWORD: postgrespassword
  POSTGRES_USER: postgresusername
kind: ConfigMap
metadata:
  labels:
    service: graphql-engine-db-secret-env
  name: db-secret-env
