apiVersion: v1
data:
  HASURA_GRAPHQL_DEV_MODE: "false"
  HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
  HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
kind: ConfigMap
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: graphql-engine-hasura-secret-env
  name: hasura-secret-env
